<app-header>
</app-header>
<ion-content>
  <div class="centrar-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Restrablecer Contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" [(ngModel)] = "nom_usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input type="password" [(ngModel)] = "nueva_clave"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar nueva contraseña</ion-label>
          <ion-input type="password" [(ngModel)] = "confirm_clave"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click) = "resetearClave()"> Restrablecer</ion-button>
        </ion-item>
        <a color="primary" class="underline" routerLink = "/iniciar-sesion">Volver a Login</a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
