<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás" color="primary" mode="md">
      </ion-back-button>
    </ion-buttons>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrar-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido {{nombre_usuario}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
